.c-search-box {
    border: 1px solid #999;
    height: 46px;
    width: 230px;
    border-radius: 10px;
    background: url(/images/header_icon.png) no-repeat 10px #FFFFFF;
    //background-size: 24px;
}
