@use "../../foundation/mixin" as m;

.p-branch-menu {
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 4.167vw, 80px);
    padding: 20px;
    @include m.mq(tab) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: clamp(40px, 6.667vw, 120px);
        padding-bottom: clamp(40px, 6.667vw, 120px);
        padding-left: 0;
        padding-right: 0;
    }

    &__contents {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        
        &--first {
            background-image: url(../images/front-page_article_bg01.jpg);
            background-position: center;
            > .c-title {
                color: #EAEAEA;
            }
        }
        &--second {
            background-image: url(../images/front-page_article_bg02.jpg);
            background-position: center;
        }
        background-size: cover;
        min-height: 642px;
            @include m.mq(tab) {
                min-height: 681px;
                width: 43%;
            }
            @include m.mq(pc) {
                min-height: 1000px;
            }
    }
    &__title {
        font-size: 41px;
        position: absolute;
        top: clamp(11px, 1.834vw, 20px);
        left: clamp(10px, 1.667vw, 19px);
        // top: 11px;
        // left: 10px;
        @include m.mq(tab) {
            // font-size: 44px;
            font-size: clamp(44px, 7.334vw, 80px);
        }
        // @include m.mq(pc) {
        //     font-size: 80px;
        //     top: 20px;
        //     left: 19px;
        // }
    }
    &__line {
        position: absolute;
        width: clamp(33px, 6.875vw, 63px);
        top: clamp(86px, 14.33vw, 160.5px);
        left: clamp(13.5px, 2.813vw, 26.5px);
        // top: 86px;
        // left: 13.5px;
        @include m.mq(pc) {
            width: 63px;
            top: 160.5px;
            left: 26.5px;
        }
        &--first {
            display: none;
            @include m.mq(tab) {
                display: block;
            }
        }
    }
    &__subtitle {
        font-size: 22px;
        color: #3C2A10;
        padding: 19px 0 19px 10px;
        @include m.mq(tab) {
            font-size: 24px;
        }
    }
    &__text {
        padding: 0 14px 23px 10px;
        font-size: 16px;
        min-height: 70px;
    }
    &__item {
        background-color: rgba(255,255,255,.8);
        margin: 0 20px 20px 20px;
        min-height: 25%;
        @include m.mq(pc) {
            min-height: 15%;
        }
    }
}