@use "../../foundation/mixin" as m;

.p-container {
    padding: 30px 20px 60px 20px;
    @include m.mq(tab) {
        // padding-left: clamp(40px, 6.667vw, 80px);
        // padding-right: clamp(40px, 6.667vw, 80px);
        padding-top: clamp(36px, 6vw, 60px);
        padding-bottom: clamp(105px, 17.5vw, 150px);
    }
}