@use "../../foundation/mixin" as m;
.p-footer {
    background-image: url(../images/footer_bg.jpg);
    &__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 39px 0 34px 0;
    }
    &__sub-menu {
        color: #fff;
        font-size: 20px;
    }
    &__copy {
        color: #fff;
        text-align: center;
        font-size: 14px;
    }
    &__line {
        width: 20px;
        height: 1px;
    }
}
