@use "../../foundation/mixin" as m;

.p-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include m.mq(tab) {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    &__title {
        position: relative;
        z-index: 300;
        font-size: 36px;
        padding: 0 0 0 25px;
        @include m.mq(tab) {
            padding: 0 0 0 86px;
        }
        @include m.mq(pc) {
            font-size: 40px;
        }
    }

    &--front {
        background-image: url(../images/mainvisual-sp@2x.jpg);
        height: 285px;
        background-size: cover;
        background-position: right;
        @include m.mq(tab) {
            background-image: url(../images/mainvisual-pc.jpg);

        }
        @include m.mq(pc) {
            height: 530px;
        }
    }

    &--archive {
        background-image: url(../images/page-title_arcive@2x.jpg);
        height: 283px;
        background-size: cover;
        position: relative;
        @include m.mq(pc) {
            height: 239px;
            background-position: center;
        }
        &__cover {
            position: absolute;
            z-index: 200;
        }
        &__title {
            @include m.mq(tab) {
                font-size: 60px;
            }
        }
        &__subtitle {
            font-size: 16px;
            position: relative;
            z-index: 300;
            padding: 0 0 0 25px;
        }
    }
}