@use "../../foundation/mixin" as m;

.p-main {
    display: flex;
    align-items: center;
    &--front {
        background-image: url(../images/front-page_bg_sp.jpg);
        height: 285px;
        background-size: cover;
        background-position: right;
        @include m.mq(tab) {
            background-image: url(../images/front-page_bg_pc.jpg);     
        }
        @include m.mq(pc) {
            height: 530px;
        }
        &__title {
            font-size: 36px;
            padding: 0 0 0 25px;
            @include m.mq(tab) {
                padding: 0 0 0 86px;
            }
            @include m.mq(pc) {
                font-size: 40px;
            }
        }
    }
}