@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;

.p-product {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 60px;
    @include m.mq(tab) {
        gap: 20px;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    @include m.mq(xl) {
        gap: 40px;
    }
    &__img {
        object-fit: contain;
        width: 40%;
        // height: 89px;
        // @include m.mq(tab) {
        //     height: 189px;
        // }
        // @include m.mq(xl) {
        //     height: 358px;
        // }
    }
    &__text {
        max-height: 176px;
    }
    &__single-img {
        // width: 80%;
        height: 116px;
        width: auto;
        display: block; //中央寄せ用
        margin: 30px auto;
        @include m.mq(tab) {
            height: 358px;
            width: auto;
            margin: 60px auto;
        }
    }
}